*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
}
.titulo{
	height: 100%;
	max-height:250px;
	width: 100%;
	display: flex;
	background-color: #000;
	position: absolute;
	font-family: 'Bona Nova', serif;
	font-size: 13px;
	/*nahuel puto*/
	
}

h1{
	font-family: 'Bona Nova', serif;
	font-size: 50px;
	color: #bd5f14;
	text-align: center;
	justify-content: center;
	margin: 23px;
	padding: 20px;
	text-shadow: 2px 2px 0 #581904,2px 0 #581904,-2px 2px 0 #581904; 
}

a{
	margin: 20px;
	padding: 12px;
	color: #bd5f14;
}

.carrito{
	width: 100%;
	max-width: 250px;
	position: absolute;
	z-index: 1;
	right: 20px;

}



.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #1c1c1c;
	height: 300vh;
	position: absolute;
	z-index: 3;
	flex-direction: column;
	display: flex;
	top: 200px;
}


.ofertas{
	width: 100%;
	max-width: 277px;
	background: #bd5f14;
	height: 300vh;
	position: absolute;
	z-index: 3;
	flex-direction: column;
	display: flex;
	top: 250px;
	right: 0px;
	border: ridge #581904;

}
b{
	padding: 23px;
	margin: 8px;
}

h2{
	color:darkblue;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	margin-top: 60px;
}

.contenedor{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	right: 300px;
	/*margin-top: 300px;*/
	padding-top: 100px;
	top: 200px;




}

.contenedor2{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	right: 300px;
	top: 350px;

	}



img{
	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 150px;
	margin: 20px;
}

